/* HTML - GENERAL */
html,
body {
  height: 100% !important;
  margin: 0 !important;
}

/* THEME */
.bg-white {
  background-color: white !important;
}

.text-bg-black {
  background-color: black;
  color: white;
}

.text-bg-white {
  background-color: white;
  color: black;
}

.text-bg-dark::placeholder {
  color: white;
}
.text-bg-dark {
  border-color: black;
}

/* INPUTS */
.is-invalid {
  border-color: red !important;
}
.is-valid {
  border-color: green !important;
}
